* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 14px;
  font-family: "Raleway";
  color: hsl(0, 0%, 100%);
}
body {
  background: hsl(218, 28%, 13%);
}
nav {
  display: flex;
  justify-content: space-between;
  padding: 8% 5% 2% 5%; /*top right bottom left padding*/
  background: hsl(218, 28%, 15%);
}
.logo {
  max-width: 150px;
  height: auto;
}
.navlinks-container a {
  text-decoration: none;
  color: hsl(0, 0%, 100%);
  padding: 10px;
  font-weight: 400;
}

.intro {
  width: 100%;
  height: 145vh;
  background: hsl(217, 28%, 15%) url("images/bg-curvy-desktop.svg") bottom
    no-repeat;
  background-size: 145rem;
  text-align: center;
}

.intro-desc {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 3rem;
}
.intro-img {
  width: 500px;
  height: 400px;
}
.intro-caption {
  font-size: 40px;
  line-height: 3.5rem;
  width: 70%;
}
.intro-para {
  margin-top: 2.5rem;
  line-height: 2rem;
  width: 55%;
  font-size: 18px;
}
.intro-btn {
  margin-top: 1.75rem;
}
.btn1 {
  width: 180px;
  padding: 10px 0;
  border-radius: 50px;
  border: none;
  outline: none;
  background: linear-gradient(to right, hsl(176, 68%, 64%), hsl(198, 60%, 50%));
}
.features {
  gap: 94px 165px;
  text-align: center;
  display: grid;
  grid-template-columns: auto auto;
  padding: 0 12.5%;
}
.features h3 {
  font-size: 18px;
  width: 100%;
  margin-top: 1rem;
}
.features p {
  margin-top: 0.75rem;
  line-height: 1.3rem;
  font-size: 14px;
  width: 100%;
}
.desc {
  margin: auto 0;
  display: flex;
  margin: 9% 8%;
}
.desc-image {
  max-width: 50%;
  object-fit: contain;
}
.desc-right {
  margin-left: 5%;
  margin-top: 10%;
  width: 50%;
}
.desc-heading {
  font-size: 25px;
  font-weight: 700;
  width: 50%;
  margin-bottom: 2%;
}
.desc-para {
  line-height: 1.5rem;
}
.desc-para-padding {
  margin-bottom: 2%;
}
.desc-para2 {
  margin-top: 2%;
}
.arrow-icon {
  padding-top: 4%;
}
.desc-right a {
  color: hsl(176, 68%, 64%);
  font-size: 12px;
}
.bg-quotes {
  position: absolute;
  margin-left: 10%;
  margin-top: 1.5%;
  z-index: 1;
}
.card-container {
  display: flex;
  margin: 8% 8%;
  padding-bottom: 16%;
}
.card {
  box-shadow: 5px 5px 20px hsl(217, 28%, 15%);
  margin-top: 50px;
  background-color: hsl(219, 30%, 18%);
  margin-left: 3%;
  padding: 3% 3%;
  z-index: 2;
}
.card p {
  font-size: 12px;
  line-height: 1.1rem;
}
h5 {
  font-size: 12px;
  font-weight: 700;
}
small {
  font-size: 10px;
}
.profile {
  display: flex;
  margin-top: 8%;
}
.profile-img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-right: 8px;
  object-fit: cover;
}
.profile-details {
  margin-left: 2%;
}

.access {
  padding: 5% 5%;
  box-shadow: 3px 3px hsl(0, 0%, 5%);
  height: auto;
  width: auto;
  margin: -10% 21%;
  background-color: hsl(217, 28%, 15%);
  position: absolute;
}
.access h1 {
  text-align: center;
}
.access p {
  text-align: center;
  font-family: "Open Sans" sans-serif;
  line-height: 1.5rem;
}
.access input {
  border-radius: 30px;
  padding: 2.5% 3%;
  width: 400px;
  height: 100%;
  outline: none;
  border: none;
  margin-right: 4%;
}
.access-email {
  display: flex;
}
.access-email-btn {
  width: 150px;
  border-radius: 30px;
  border: none;
  outline: none;
  padding: 2.5% 0%;
  cursor: pointer;
  background: linear-gradient(to right, hsl(176, 68%, 64%), hsl(198, 60%, 50%));
  font-weight: 400;
}

.info {
  margin: auto 0;
  padding: 15% 6% 10% 6%;
  background: hsl(216, 53%, 9%);
}
.info-logo-img {
  width: 15%;
  margin-top: 5%;
}
.info-container {
  display: flex;
  justify-content: space-between;
  margin-top: 5%;
}
.info-location-img {
  margin-bottom: 45px;
}
.info-location-span {
  text-align: left;
  display: inline-block;
  line-height: 1.75rem;
  margin-left: 15px;
}
.info-item-content {
  margin-top: 20px;
}
.info-list-item {
  margin-top: 15px;
}
.info-container li {
  list-style-type: none;
}
.social-media {
  display: flex;
  text-align: right;
}
.social-media-icon {
  color: white;
  margin-left: 10px;
  border-radius: 50%;
  border: white 1px solid;
  padding: 1% 6%;
  font-size: 35px;
  cursor: pointer;
  width: 25px;
  height: 25px;
}
/* media queries */
@media (min-width: 320px) and (max-width: 500px) {
  body {
    width: 100%;
  }
  .logo {
    max-width: 80px;
    height: auto;
  }
  .navlinks-container a {
    padding: 5px;
  }

  .intro-caption {
    font-size: 23px;
  }
  .intro {
    width: 100%;
    height: 105vh;
    background: hsl(217, 28%, 15%) url("images/bg-curvy-mobile.svg") bottom
      no-repeat;
    background-size: 2rem;
    background-position: right 0vw bottom 45vh;
    text-align: center;
  }
  .intro-img {
    margin-top: 85px;
    width: 250px;
    height: 200px;
  }
  .intro-para {
    margin-top: 2.5rem;
    line-height: 1.5rem;
    width: 90%;
    font-size: 14px;
  }
  .features {
    margin-top: 10rem;
    grid-template-columns: auto;
  }
  .desc {
    margin-top: 9rem;
    display: flex;
    flex-direction: column;
  }
  .desc-image {
    max-width: 50%;
    object-fit: contain;
  }
  .desc-right {
    margin-top: 4rem;
    width: 90%;
  }
  .desc-heading {
    font-size: 15px;
    width: 100%;
  }
  .card-container {
    display: flex;
    flex-direction: column;
    margin-top: 8rem;
  }
  .bg-quotes {
    margin-top: 7rem;
  }
  .access {
    margin: -2% 5%;
    padding: 1.5rem;
    width: 90%;
  }
  .access p {
    font-size: 11px;
    width: 100%;
    font-family: "Open Sans" sans-serif;
  }
  .access-email {
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
  }
  .access input {
    width: 100%;
  }
  .access-email-btn {
    width: 100%;
    margin-top: 1rem;
  }
  .info {
    margin-top: 11rem;
  }
  .info-logo-img {
    width: 50%;
    margin-top: 60%;
  }
  .info-container {
    display: flex;
    flex-direction: column;
  }
  .info-div {
    display: flex;
  }
  .info-location-img {
    /* margin-top: 1%; */
    width: 20px;
    height: auto;
    object-fit: cover;
  }
  .info-location-span {
    display: inline-block;
    margin-left: 30px;
    font-size: 12px;
  }
  .info-content {
    margin-top: 2rem;
  }
  .info-list {
    margin-top: 3rem;
  }
  .social-media {
    text-align: center;
    margin-top: 5rem;
    margin-left: 3rem;
  }
  .social-media-icon {
    width: 10px;
    height: 15px;
    border-radius: 50%;
  }
}
.attribution {
  font-size: 11px;
  text-align: center;
  padding: 10px 0;
}
.attribution a {
  color: hsl(0, 0%, 100%);
}
